html {
    box-sizing: border-box;
    background-color: #FDF9FF;
    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

video {
    display: block;
    width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    min-width: 320px;
    font-family: "Comfortaa", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    color: #12001A;
}

section {
    margin-bottom: 140px;
}

.container {
    max-width: 1508px;
    margin: 0 auto;
    padding: 0 164px;
}

.btn {
    padding: 16px 24px;
    width: fit-content;
    background-color: #DA3434;
    border-radius: 100px;
    font-size: 14px;
    line-height: 100%;
    color: #FDF9FF;
    text-align: center;
    white-space: nowrap;
}

.change-btn {
    background-color: #812A9C;
}

.block {
    display: flex;
    align-items: center;
    gap: 32px;
}

.title {
    margin: 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 130%;
}

.subtitle {
    margin: 0;
    font-size: 24px;
    line-height: 130%;
}

.text {
    margin: 0;
    font-size: 16px;
    line-height: 130%;
}

.descr {
    margin: 0;
    font-size: 14px;
    line-height: 130%;
}

/* header */
.header {
    margin-top: 32px;
    margin-bottom: 55px;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 67px;
}

.header__logo {
    border-radius: 8px;
}

.header__nav {
    display: flex;
    align-items: center;
    gap: 67px;
}

.header__burger,
.header__close {
    display: none;
    min-width: 22px;
    height: 14px;
    background-image: url('../img/burger-open.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.header__close {
    min-width: 17px;
    height: 17px;
    background-image: url('../img/burger-close.svg');
}

.nav__list {
    display: flex;
    align-items: center;
    gap: 24px;
}

.nav__link {
    position: relative;
    display: block;
    font-size: 14px;
    line-height: 100%;
}

.nav__link::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #DA3434;
    transition: .3s ease-in-out;
}

.nav__link:focus {
    outline: none;
}

.nav__link:focus::before {
    width: 100%;
    transition: .3s ease-in-out;
}

.nav__link:hover::before {
    width: 100%;
    transition: .3s ease-in-out;
}

.nav__link:active::before {
    width: 0;
    transition: .3s ease-in-out;
}

/* breadcrumbs */
.breadcrumbs {
    margin-top: -5px;
    margin-bottom: 20px;
}

.breadcrumbs__wrapper {
    padding: 12px 0 16px;
    display: flex;
    align-items: center;
    gap: 22px;
}

.breadcrumbs__link,
.breadcrumbs__wrapper span {
    position: relative;
    font-size: 14px;
    line-height: 100%;
    color: #12001A99;
}

.breadcrumbs__link::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -18px;
    transform: translateY(-50%);
    width: 14px;
    height: 1px;
    background-color: #12001A99;
}

.breadcrumbs__wrapper span {
    color: #12001A;
}

/* footer */
.footer {
    padding-top: 71px;
    padding-bottom: 120px;
    background-color: #12001A;
}

.footer__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.footer__image {
    margin-right: 120px;
}

.footer__logo {
    min-width: 180px;
    border-radius: 8px;
}

.footer__block,
.footer__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer__column {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.footer__column.column-center {
    margin-right: 150px;
    margin-left: 179px;
}

.footer__column.column-right {
    max-width: 280px;
    width: 100%;
}

.footer__link {
    font-size: 14px;
    line-height: 100%;
    color: #fff;
    white-space: nowrap;
    transition: .3s ease-in-out;
}

.footer__link:hover {
    color: #DA3434;
    transition: .3s ease-in-out;
}

.footer__form {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.footer__input {
    padding-bottom: 9px;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #FFFFFF80;
    outline: none;
    font-size: 12px;
    line-height: 100%;
    color: #FFFFFF80;
    transition: .3s ease-in-out;
}

.footer__input:hover {
    border-color: #fff;
    transition: .3s ease-in-out;
}

.footer__submit {
    padding-top: 11px;
    padding-bottom: 11px;
    font-size: 12px;
}

@media screen and (max-width: 1600px) {
    .container {
        padding: 0 60px;
    }

    .header__container,
    .header__nav {
        gap: 35px;
    }
}

@media screen and (max-width: 1366px) {
    .footer__container,
    .footer__wrapper,
    .footer__block {
        gap: 45px;
    }

    .footer__image,
    .footer__column.column-center {
        margin: 0;
    }
}

@media screen and (max-width: 1280px) {
    .header__nav {
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 10;
        padding: 58px 60px;
        max-width: 375px;
        width: 100%;
        flex-direction: column;
        align-items: flex-end;
        background-color: #FDF9FF;
        box-shadow: 0px 0px 100px 0px #AA00FF26;
        transform: translateX(120%);
        transition: transform .3s ease-in-out;
    }

    .header__nav.active {
        transform: translateX(0);
        transition: transform .3s ease-in-out;
    }

    .nav__list {
        flex-direction: column;
        align-items: flex-end;
    }

    .header__burger, .header__close {
        display: block;
    }
}

@media screen and (max-width: 1024px) {
    section {
        margin-bottom: 90px;
    }

    .block {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer {
        padding-top: 87px;
        padding-bottom: 81px;
    }

    .footer__container {
        flex-wrap: wrap;
    }

    .footer__block {
        width: 100%;
    }

    .footer__column {
        padding: 0;
    }

    .footer__wrapper {
        width: fit-content;
        flex-direction: column;
        gap: 60px;
    }

    .footer__image {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .header {
        margin-top: 46px;
        margin-bottom: 35px;
    }

    .header__logo {
        width: 107px;
    }

    .breadcrumbs {
        margin-top: 50px;
    }
}

@media screen and (max-width: 576px) {
    section {
        margin-bottom: 60px;
    }

    .container {
        padding: 0 24px;
    }

    .header {
        margin-top: 37px;
        margin-bottom: 27px;
    }

    .breadcrumbs {
        margin-top: 40px;
        margin-bottom: 13px;
    }

    .footer {
        padding-top: 42px;
        padding-bottom: 65px;
    }

    .footer__container {
        gap: 42px;
    }

    .footer__block {
        flex-direction: column;
        gap: 46px;
    }

    .footer__wrapper {
        gap: 67px;
    }
}

@media (hover: none) {
    .nav__link:hover::before {
        width: 0;
    }
}